/* Main container that every other container falls under (whole page) */
.container {
  display: grid;
  display: flex;
  column-gap: 5px;
  align-items: center; 
 }
 
 
 .border {
   margin-left: 10%;
   margin-right: 5%;
   margin-bottom: 15%;
   background-color: black;
    border: 15px solid black;
  }
  
  .quote {
    color: white;
    font-size: 25px;
    margin-top: 25px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .bottom_bar {
    
    bottom: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: black;
  }
  
  #bottom_bar_text {
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

  #about_images {
    width: 450px;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 40%;
    border-radius: 10px;
  }