/* Put's each circl in it's own box */
.circle_component {
    display: flex;
    column-gap: 15%;
    align-items: center;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;

}

.clients_container {
    text-align: center;
}

/* Where you can style the text for the title in (clients.js) */
.clients_text {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/* Shaping each clients image size */
#client_images {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 10px #888888;

}

