/* Put's each circl in it's own box */
.circle_component {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Evenly distrubutes circles to the middle of the screen */
.clients_container {
    text-align: center;
    margin-top: calc(5% + 3rem);
}

/* Where you can style the text for the title in (clients.js) */
#clients_text {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/* Displaying the circles in a 3x3 grid */
.circles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
}

/* Shaping each clients image size */
#client_images {
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 10px #888888;

}


